.app{
    display:flex;
 flex-direction: column;
   height: 100vh;

    background-size: cover;
}

.Logo{
    width: 400px;
    height: 300px;
    border-radius: 5%;
    background-position: center center;

}
